.book-body{
    background-color:#F6F6F6!important;
    color:#000000!important;
}
.div-img{
    width:100%;
    text-align:center;
    vertical-align: middle;
}


img{
    position:relative;
    left:15%;
    width:70%;
}
p{
    
}
hr{
    border-top: 1px solid rgba(128,128,128,0.1)!important;
    width:70%!important;
    height:1px!important;
    margin-left:auto!important;
    margin-top: auto!important;
    margin-right: auto!important;
}
h1{
    font-size:50px!important;
}
h1,h4{
    text-align:center;
}
h1:after{
    content:"<hr>",
    margin-top:20px!important;
    margin-bottom:20px!important;
}

.div-author{
    text-align:right;
    margin-top:10px;
    margin-right:30px;
    color:#4f4f73;
}

w{
    color:red;
    font-weight:blod;
    font-style:oblique;
}
blockquote {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 40px;
    -webkit-margin-end: 40px;
}
blockquote {
    padding: 10.5px 21px!important;
    margin: 0 0 21px!important;
    border-left: 5px solid rgba(128,128,128,0.075)!important;
    
}
blockquote {
    border-left-width: 10px!important;
    background-color: rgba(128,128,128,0.05)!important;
    border-top-right-radius: 5px!important;
    border-bottom-right-radius: 5px!important;
    padding: 15px 20px!important;
}